body, html {
    height: 100%; /* 전체 높이를 사용 */
    margin: 0; /* 기본 마진 제거 */
}

.login-container {display: flex; align-items: center; justify-content: center; width: 100vw; height: 100vh;}
.container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
}
.login {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.forgot-password {
    margin: 15px 0;
}

.social-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.kakao {
    background-color: #FEE500; /* 카카오 색상 */
}

.naver {
    background-color: #03C75A; /* 네이버 색상 */
}

.google {
    background-color: #DB4437; /* 구글 색상 */
    color: #fff;
}
