@charset "UTF-8";
/* member */
.member-form {width: 100%; margin: auto; padding: 50px 15px;}
.member-form h2 {font-size: 20px; font-weight: 700; margin-bottom: 20px; text-align: center;}

/* login */
.login-member-form {max-width: 380px; text-align: center;}
#login-form {padding: 0 0 30px; margin: 0 0 20px; border-bottom: 1px solid #D9D9D9;}
#login-form .input-group {margin: 0 0 10px;}
#login-form .btn-box {margin: 20px 0 0;}
#login-form .signupBtn {display: block; margin: 15px 0 0; font-size: 14px;}


.social-login {}
.social-login .btn {display: flex; align-items: center;}
.social-login .btn:not(:last-child) {margin: 0 0 10px;}
.social-login .btn.kakao {background: #FBE750; color: #000;}
.social-login .btn.naver {background: #5BC467; color: #fff;}
.social-login .btn.google {background: #F4F4F4; color: #000;}
.social-login .btn .icon {display: flex; align-items: center; justify-content: center; width: 50px;}
.text-danger {font-size: 13px; color: #F61414; margin: 0 0 10px;}


/* signup */
.signup-member-form {max-width: 680px;}
#signup-form {

}







