<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/baseHeader.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <div class="member-form login-member-form">
        <h2>로그인</h2>
        <p th:text="${message}" class="text-danger"></p>
        <form method="post" th:action="@{/users/login}" id="login-form">
            <div class="input-group">
                <input type="email" name="email" placeholder="이메일" required autocomplete="off" class="">
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="비밀번호" required autocomplete="off" class="">
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-dark">로그인</button>
            </div>
            <a th:href="@{/users/signup}" class="signupBtn">계정이 없으신가요?</a>
        </form>
        <div class="social-login">
            <button type="button" class="btn kakao" id="kakaoLogin">
                <div class="icon"><img th:src="@{/img/social/kakao_icon.png}"></div>
                <span>카카오로 로그인</span>
            </button>
            <button type="button" class="btn naver" id="naverLogin">
                <div class="icon"><img th:src="@{/img/social/naver_icon.png}"></div>
                <span>네이버로 로그인</span>
            </button>
            <button type="button" class="btn google" id="googleLogin">
                <div class="icon"><img th:src="@{/img/social/google_icon.png}"></div>
                <span>구글로 로그인</span>
            </button>
        </div>
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">
    // 소셜 로그인 이벤트 핸들러
    document.getElementById('kakaoLogin').addEventListener('click', function() {
        window.location.href = '/oauth2/authorization/kakao';
    });
    document.getElementById('naverLogin').addEventListener('click', function() {
        window.location.href = '/oauth2/authorization/naver';
    });
    document.getElementById('googleLogin').addEventListener('click', function() {
        window.location.href = '/oauth2/authorization/google';
    });
</script>
<!-- javascript -->


</body>
</html>